@model DotNetNuclear.Modules.LogAnalyzer.Models.Settings
@{
    var moduleId = Dnn.ModuleContext.ModuleId;

    var routeValues = new RouteValueDictionary();
    routeValues["dnnprintmode"] = "true";
    routeValues["SkinSrc"] = "[G]Skins/_default/No+Skin";
    routeValues["ContainerSrc"] = "[G]Containers/_default/No+Container";

}
<div id="DNNuclearLogAnalyzerquickSettings-@moduleId" class="dnnForm">
    <div class="dnnFormItem">
        @Dnn.Label("LogAnalyzerRegex", Dnn.LocalizeString("LogAnalyzerRegex"), Dnn.LocalizeString("LogAnalyzerRegex.Help"))
        <input id="txtAnalyzerRegex" name="txtAnalyzerRegex" value="@Model.LogAnalyzerRegex" />
    </div>
</div>
