@model DotNetNuclear.Modules.LogAnalyzer.Models.Settings

@using DotNetNuke.Web.Mvc.Helpers

<h2 id="logAnalyzer-BasicSettings" class="dnnFormSectionHead"><a href="" class="dnnSectionExpanded">@Dnn.LocalizeString("BasicSettings")</a></h2>
<fieldset>
    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.LogAnalyzerRegex, new { @class = "col-md-2 control-label" })
        </div>
        @Html.TextBoxFor(m => Model.LogAnalyzerRegex)
    </div>
</fieldset>
