@model DotNetNuclear.Modules.NextGenModule.Data.Item

@using DotNetNuke.Web.Mvc.Helpers

<li class="tm_t">
    <h3>@Model.ItemName</h3>
    <span class="tm_td">@Model.ItemDescription</span>

    <div class="dnnFormActions">
    </div>
</li>