#logAnalyzerProgress {display: none;}
#logAnalyzerProgress .progress-bar { font-weight: normal; text-shadow: 1px 1px 0 #333; }
table.table-loglist { max-width: 600px; border: 2px #ddd solid; }
table.table-loglist>tbody tr td:first-child,
    table.table-loglist>thead tr th:first-child { border-right: 2px #ddd solid; text-align:center;   }
table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>td { display: block;}
table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after { content:' '; display: block; visibility: hidden; clear: both;}
table.table-fixedheader>tbody { overflow-y: scroll; height: 160px; }
table.table-fixedheader>thead { overflow-y: scroll; }
table.table-fixedheader>thead::-webkit-scrollbar { background-color: inherit; }
table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after { content:' '; display: table-cell; visibility: hidden; clear: both; }
table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td { float: left; word-wrap:break-word; }



